
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.login {
    background: #48CAE4;
    border-radius: 36px;
    width: 275px;
    height: 64px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 200px;
    border: none;
}
.containert{
    width: 705px;
height: 168px;

}
.logot {
    width: 128px;
height: 128px;

}
.btn-ukm {
    border-radius: 20px;
    background-color: #003566;
}
.navbar {
    background-color:#003566;
}
.nav-link, .navbar-brand {
    color: #fff!important;
}
.nav-item {
	color: #fefff1;
	transition: ease;
	margin-right: 2.5rem;
    font-weight: 600;
    font-size: 22px;
}
.ul {
    margin-left: 60px;
}
.nav-link:hover {
	color: #48CAE4 !important;
}
.btnNav-m {
	background: #48CAE4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 144px;
    height: 48px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    top: 6px;
}
.dropdown-menu {
    background-color:#48CAE4!important;
}
.dropdown-item {
    color: #fff!important;
    text-align: center;
}
.dropdown-item:hover {
    color: #fff!important;
    background-color: #003566!important;
    border-radius: 20px;
    transition: .5s;
}
/* .title {
   
    background-image: url("<?= base_url() ?>assets22/logo/Group 18.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
} */
h1 {
    
    letter-spacing: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 145.856px;
    color: #F0D227;

    text-shadow: 0px 18.232px 18.232px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.18em;
}
.page-login {
    background-color: #003566; 
    background: url(../../assets22/logo/Group\ 18.png) no-repeat center;
    background-size: cover;
    height: 700px;
}
.btn-login {
    background: #48CAE4;
    border: none;
    border-radius: 20px;
    display: block;
    width: 100%;
    height: 50px;
}
.daftar-akun {
    background: none;
}
.log-reg {
    background: none;
    margin-top: 100px;
}
option {
    background: #CAF0F8;
}
.bi-eye-fill, .bi-eye-slash-fill {
    font-size: 35px;
}
.form-control {
    height: 50px;
    border-radius: 20px;
}
.masuk {
    background-color: #caf0f8;
    margin-top: 50px;
    border-radius: 25px;
}
.tahun {
    color: #caf0f8!important;
}
.card {
    border: none;
    box-sizing: border-box;
    
}
.shadow {
    background: linear-gradient(135.69deg, rgba(202, 240, 248, 0.4) 1.3%, rgba(202, 240, 248, 0.1) 90.77%, rgba(255, 255, 255, 0.1) 98.35%);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 50px;
 
}

.intro {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;

    color: #003566;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bakat {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 96px;
    color: #f0d228;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.def {
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-align: justify;
}
.des {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    text-align: justify;
}
.visiukm {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    
}
.misiukm {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: justify;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.timeline::after {
    content: "";
    position: absolute;
    width: 5px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.container1 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.container1::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -12px;
    background-color: white;
    border: 4px solid #ff9f55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.content {
    padding: 20px 30px;
    background-color: #48CAE4;
    position: relative;
    border-radius: 6px;
    color: rgb(244, 244, 237);
}
.alur {
    display: block;
    margin: auto 0;
}
.visi {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #003566;
}
.misi, .syarat2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #f0d228;
}
.alur1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    text-align: right;

    color: #003566;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.time1 , .syarat1 {
    width: 480px;
    height: 192px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    
    color: #003566;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.ukm1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    /* identical to box height */

    text-align: right;

    color: #003566;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.alur2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    text-align: right;
    
    color: #f0d228;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
} 
.time2, .ukm2, .syarat2{
    width: 480px;
    height: 192px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    color: #f0d228;
}
i {
    font-size: 30px;
}
.ukm {
    background-color: #f0d228;
}
.title-ukm {
    color: #003566;
    font-weight: bold;
}
.ukm img {
    object-fit: contain;
    align-self: center;
    width: 200px;
    height: 200px;
}
#slider{
    margin:50px auto;
    width:600px;
    height:400px;
    padding:5px;
    position:relative;
}
.slide {
    list-style:none;
}
#slider > li {
    position:absolute;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
}
.name {
    color: #fff;
}
.badges {
    border-radius: 20px;
    color: #fff;
    background-color: #003566;
}
iframe {
    display: block;
    margin: 0 auto;
}
.footer {
    background-color: #003566;
    color: #fff;
    width: 100%;
}
.text-footer {
    font-size: 80px;
    letter-spacing: 5px;
    font-family: 'Poppins', sans-serif;
}
/* .logoFooter {
	padding-bottom: 1.3rem;
}

.logoFooter h4,
.bbmkFooter,
.akunCek h4 {
	padding-top: 1.5rem;
	font-weight: 600;
}

.logoFooter {
	width: 10%;
	align-self: center;
	margin: 5px;
	margin-bottom: -4px;
} */
.year {
    position: absolute;
    left: 22%;
    font-size: 20px;
    margin-top: -10px;
}
@media screen AND (max-width: 678px) {
    .logo {
        display: block;
        margin: 30px auto;
    }
    .content {
        width: 200px;
    }
    .timeline::after {
        left: 80%;
    }
    .container1::after {
        right: -115px;
    }
    .d-flex {
        display: block;
        margin: 0 auto;
    }
    .text-footer {
        font-size: 2rem;
    }
    .img-footer {
        width: 50px;
        height: 50px;
    }
    .d-flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h5 {
        margin: 50px 0 20px 0;

    }
    .kolaborasi {
        text-align: center;
    }
    .masuk {
        margin-top: 30px;
    }
}