@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
/*
    DEMO STYLE
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}



#sidebar {
    min-width: 399px;
    max-width: 399px;
    background: #003566;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -399px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #003566;
}

#sidebar ul.components {
    padding: 20px 0 20px 20px;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #003566;
    background: #fff;
    border-radius: 10px;
    width: 268px;
    height: 43px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 18px !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
/* ---------------------------------------------------
    END STYLE SIDEBAR
----------------------------------------------------- */


.card {
    border: none;
    /* background: linear-gradient(135.69deg, rgba(202, 240, 248, 0.4) 1.3%, rgba(202, 240, 248, 0.1) 90.77%, rgba(255, 255, 255, 0.1) 98.35%);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(4px); */
    /* Note: backdrop-filter has minimal browser support */
}
.dashboard, .berita, .syarat {
    background: linear-gradient(135.69deg, rgba(202, 240, 248, 0.4) 1.3%, rgba(202, 240, 248, 0.1) 90.77%, rgba(255, 255, 255, 0.1) 98.35%);
    border-radius: 20px;
}
.con-dash {
    margin-top: 100px;
}
/* .image-kuntul {
    display: block;
    margin:  -50px auto;
} */
.image {
    margin-top: -100px;
    /* border: 1px solid #000000;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%; */
}
.name {
    font-weight: bold;
    font-size: 35px;
    color: #000;
    font-family: 'Poppins', sans-serif;
}
.time-bbmk {
    font-weight: bold;
    font-size: 30px;
    color: #000;
    font-family: 'Poppins', sans-serif;
}
.time {
    margin-top: 100px;
}
.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #000;
}
.time-upload {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    margin-top: 20px;
}
.profil {
    background: #CAF0F8;
    border-radius: 24px;
    margin: 20px 0;
    color: #003566;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 64px 18px 36px;

    width: 913px;
    height: 72px;

    background: rgba(202, 240, 248, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px; */
}
.edit-data {
    border-radius: 20px;
}
.btn-edit {
    border-radius: 20px;
    background: #003566;
}
.image_upload > input {
    display: none;
}
.btn-warning {
    background-color: #003566;
    color: #fff;
    border: none;
}
.submit-syarat {
    margin-top: 100px;
}
.time-countdown {
    background-color: #003566;
    height: 250px;
    border-radius: 20px;
}
.countdown {
    width: 150px;
    height: 150px;
    margin: 0 20px;
    background-color: #caf0f8;
    border-radius: 24px;
}
.satu {
    background: none;
    color: #fff;
    margin-top: 30px;
}
#days, #hours, #minutes, #seconds {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
h4 {
    font-size: 36px;
}
.tanggal-bbmk {
    margin-top: 100px;
}
.kalender {
    font-size: 80px;
    color: #003566;
}
.tg {
    font-size: 24px;
    color: #000;
}
.materi {
    background-color: #caf0f8;
    border-radius: 20px;
    margin-top: 20px;
}
.title-materi {
    color: #003566;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -399px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .title {
        font-size: 25px;
    }
    .time-upload {
        margin-top: -10px;
        font-size: 12px;
    }
    th {
        width: 120px;
    }
    .text-start {
        margin-left: 20px;
    }
    #days, #hours, #minutes, #seconds {
        font-size: 16px;
    }
    .satu {
        background: none;
        color: #fff;
        margin-top: 30px;
        font-size: 12px;
    }
}